* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    scroll-behavior: smooth;
    /* border: 1px solid red; */
}

body.no-scroll{
    overflow: hidden;
}

p {
    color: red;
    margin: 0;
    font-size: 12px;
}

body {
    margin: 0;
    background: #02151e;
    color: antiquewhite;
    min-height: 100vh;
    position: relative;
}

header {
    background: #03242e;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding: 0 20px;
}

footer {
    height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #03242e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-section {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-bottom: 13vh;
    align-items: center;
}

.main-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px;
    margin: auto;
    max-width: 1280px;

}

.card {
    background: url(./img/pokeball.jpg);
    background-position: 30% -25%;
    width: 200px;
    height: 315px;
    border-radius: 15px;
}

.card:hover {
    filter: drop-shadow(0 0 10px white);
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #03242e;
    border-radius: 15px 15px 0 0;
    align-items: center;
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-footer {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #03242e;
    border-radius: 0 0 15px 15px;
}

.card-type {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 8px;
    background-color: aliceblue;
}

h2 {
    margin: 0;
}

h2::first-letter {
    text-transform: capitalize;
}

.type-img {
    height: 28px;
}

.popup-div {
    height: 600px;
    width: 450px;
    margin: 25vh auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #02151e;
    border-radius: 25px;
    filter: drop-shadow(0 0 20px lightblue);
}

.hidden {
    display: none;
}

.popup-card {
    background: url(./img/pokeball.jpg);
    background-position: 5% -25%;
    border-radius: 25px;
}

button {
    padding: 5px 10px;
    border-radius: 50%;
    background: black;
    border: none;
    color: antiquewhite;
}

button:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 3px white);
    background-color: rgba(0, 0, 0, 0.977);
}

.popup-card-img {
    width: 50%;
    height: 200px;
    padding-left: 10%;
    object-fit: cover;
    object-position: right;
}

.popup-card-type {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #03242e;
}

.popup-nav {
    height: 40px;
    background-color: #032935;
    display: flex;
}

.popup-nav-element {
    border: 2px solid #03242e;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-nav-element:hover {
    border-bottom: 2px solid green;
    cursor: pointer;
}

.popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    filter: brightness(10%);
}

.bright {
    filter: brightness(20%);
}

.popup-type-img {
    width: 25%;
}

.table-div {
    background: #02151e;
    padding: 20px;
    flex: 1;
    border-radius: 0 0 25px 25px;
}

table {
    border-spacing: 5px;
}

li::first-letter {
    text-transform: capitalize;
}

.progress-bar {
    width: 100%;
    height: 20px;
    border: 2px solid white;
    border-radius: 999px;
    background-color: #e0e0e0;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background-color: green;
    border-radius: 999px;
}

.bars-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    background: #02151e;
    gap: 5px;
}

.bars-div:first-child {
    border-radius: 0 0 0 25px;
}

.bars-div:last-child {
    border-radius: 0 0 25px 0;
}

.popup-info {
    display: flex;
}

.evo-chain {
    display: flex;
    width: 100%;
    padding: 60px 20px;
    background: #02151e;
}

.evo-chain-img {
    display: flex;
    flex: 1;
    justify-content: center;
}

.evo-img {
    border: 1px solid rgba(255, 255, 255, 0.116);
    border-radius: 10px;
}

.svg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.load-button {
    width: 200px;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}

.search-div {
    display: flex;
    flex-direction: column;
}

.border-bottom {
    border-bottom: 2px solid white;
}

.preloader {
    background: url(./img/pikachu.gif) no-repeat center 35%;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    z-index: 100;
    min-height: 100vh;
    position: relative;
}

@media (max-width: 500px) {
    input {
        height: 1.5em;
    }

    header {
        height: 10vh;
    }

    .header-div {
        gap: 20px;
    }

    p {
        font-size: 10px;
    }
}

@media (max-height: 500px) {
    header {
        height: 15vh;
    }

    footer {
        height: 15vh;
    }

    .main-section {
        padding-bottom: 15vh;
    }
}

@media (max-width: 600px) {
    .popup-div {
        height: 460px;
        width: 300px;
    }

    .popup-card-img {
        height: 100px;
    }

    .popup-card-type {
        height: 40px;
    }

    .progress-bar {
        width: 90%;
        height: 15px;
    }

    .bars-div {
        padding: 10px 10px 15px 10px;
    }

    .evo-img {
        height: 75px;
    }

    .svg {
        height: 80px;
    }

    svg {
        height: 12.5px;
        width: 12.5px;
    }

    .evo-chain {
        min-height: 100px;
        border-radius: 0 0 25px 25px;
    }
}
@media (max-height: 1000px) {
    .popup-div{
        margin: 10vh auto;
    }
}
@media (max-height: 800px) {
    .popup-div{
        margin: 5vh auto;
        height: 500px;
    }
    .evo-chain{
        padding: 20px;
        border-radius: 0 0 25px 25px;
    }
    .bars-div{
        padding: 0px 10px 3px 10px;
    }
    .progress-bar{
        height: 10px;
    }
    .table-div{
        padding: 0px 20px;
    }
}
@media (max-height: 600px) {
    .popup-div {
        flex-direction: row;
        margin: 5vh auto;
        height: 250px;
        width: 500px;
    }

    h2 {
        font-size: 20px;
    }

    .popup-card {
        display: flex;
        flex-direction: row;
    }

    .card-header-1000px {
        height: 100px;
        flex-direction: column;
        border-radius: 25px;
    }

    button {
        margin-top: 5px;
    }

    .popup-card-img {
        height: 150px;
        padding: 10% 0;
    }

    .popup-card-type {
        flex-direction: column;
        height: 100%;
        width: 50px;
        gap: 75px;
        padding-top: 55px;
        background: none;
    }
    .bars-div:first-child {
        border-radius: 0;
    }
    .popup-type-img {
        rotate: -90deg;
        width: auto;
    }

    .popup-nav {
        flex-direction: column;
        height: auto;
    }

    .table-div {
        padding: 10px;
        border-radius: 0 25px 25px 0;
    }

    .bars-div:last-child {
        border-radius: 0 25px 25px 0;
    }

    .evo-chain {
        flex-direction: column;
        padding: 5px 20px;
        border-radius: 0 25px 25px 0;
        gap: 5px;
    }

    .svg {
        display: none;
    }

    .evo-img {
        height: 75px;
    }
}
